.header{
    color: white;
}

.container{
    margin-left: 5%;
    margin-right: 5%;
}

.searchHistory{
    display: none;
}

.searchHistoryList{
    max-height: 300px;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
}

li:hover{
    background-color: blue;
    color: white;
}

form.searchBar input[type=text]{
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 85%;
    background: white;
    margin-bottom: 10px;
}

form.searchBar button{
    float: left;
    width: 15%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.searchBar button:hover{
    background: #0b7dda;
}

form.searchBar::after{
    content: "";
    clear: both;
    display: table;
}

.searchHistory button{
    width: 100%;
    height: 50px;
    display: block;
}

.currForecast{
    margin-bottom: 10px;
    display: none;
}

.futureForecast{
    display: none;
}

.futureForecastCards{
    text-align: center;
}

.future{
    color: white;
    background-color: blue;
    margin-right: 10px;
    text-align: center;
}

